{% extends "base_nav.html" %}
{% load static %}
{% block content %}
{% for rest in restaurant %}
<img src="{{ rest.picture.url }}" class="img-fluid detail-img mx-auto d-block my-5" alt="Responsive image"/>
<br />
<div class="container text-center">
    <p class="text-center font-weight-bolder h2">{{ rest.name }}</p>
    <hr>
    <p class="font-weight-bolder h5">OPEN-CLOSE</p>
    <h5>{{ rest.open_time }} - {{ rest.close_time }}</h5><br>
    <p class="font-weight-bolder h5">OWNER</p>
    <h5>{{ rest.owner }}</h5><br>
    <p class="font-weight-bolder h5">APPROVE-DATE</p>
    <h5>{{ rest.approve_date }}</h5><br>
    <p class="font-weight-bolder h5">APPROVE-BY</p>
    <h5>{{ rest.approve_by }}</h5><br>
    {% if user.is_authenticated %}
    <a href="#" class="btn btn-danger mb-5">DELETE</a>
    <a href="#" class="btn btn-secondary mb-5">EDIT</a>
    {% endif %}
</div>
{% endfor %}
{% endblock %}
