{% extends "base_nav.html" %} 
{% block content %} 
{% if user.is_authenticated %}
<div class="card-deck m-5">
  <div class="card bg-light">
    <div class="card-body text-center">
      <p class="card-text h4">ร้านป้านกเล็ก</p>
      <img src="https://picsum.photos/200" alt="" />
      <button type="button" class="btn btn-secondary float-right m-3">
        แก้ไขรายละเอียด
      </button>
      <button type="button" class="btn btn-danger float-right m-3">
        ลบข้อมูล
      </button>
    </div>
  </div>

  <div class="card bg-light">
    <div class="card-body text-center">
      <p class="card-text h4">ร้านป้านกเล็ก</p>
      <img src="https://picsum.photos/200" alt="" />
      <button type="button" class="btn btn-secondary float-right m-3">
        แก้ไขรายละเอียด
      </button>
      <button type="button" class="btn btn-danger float-right m-3">
        ลบข้อมูล
      </button>
    </div>
  </div>

  <div class="card bg-light">
    <div class="card-body text-center">
      <p class="card-text h4">ร้านป้านกเล็ก</p>
      <img src="https://picsum.photos/200" alt="" />
      <button type="button" class="btn btn-secondary float-right m-3">
        แก้ไขรายละเอียด
      </button>
      <button type="button" class="btn btn-danger float-right m-3">
        ลบข้อมูล
      </button>
    </div>
  </div>

  <div class="card bg-light">
    <div class="card-body text-center">
      <p class="card-text h4">ร้านป้านกเล็ก</p>
      <img src="https://picsum.photos/200" alt="" />
      <button type="button" class="btn btn-secondary float-right m-3">
        แก้ไขรายละเอียด
      </button>
      <button type="button" class="btn btn-danger float-right m-3">
        ลบข้อมูล
      </button>
    </div>
  </div>
</div>
{% endif %} 
{% endblock %}
