{% extends "base_nav.html" %} 
{% load static %}
{% block content %}
<div class="container">
  <div class="it">
  <p class="h3 mt-5">คณะเทคโนโลยีสารสนเทศ</p>
  <hr>
  <div class="card-deck m-5">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'restaurant_photo/no1.jpg' %}" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">ร้านป้าศรีขายหอย</h5>
        <a href="{% url 'details' %}" class="btn btn-secondary my-2 float-right">รายละเอียด</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'restaurant_photo/no1.jpg' %}" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">ร้านป้าศรีขายหอย</h5>
        <a href="{% url 'details' %}" class="btn btn-secondary my-2 float-right">รายละเอียด</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'restaurant_photo/no1.jpg' %}" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">ร้านป้าศรีขายหอย</h5>
        <a href="{% url 'details' %}" class="btn btn-secondary my-2 float-right">รายละเอียด</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'restaurant_photo/no1.jpg' %}" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">ร้านป้าศรีขายหอย</h5>
        <a href="{% url 'details' %}" class="btn btn-secondary my-2 float-right">รายละเอียด</a>
      </div>
    </div>
  </div>
  </div>

  <div class="engineer">
    <p class="h3 mt-5">คณะวิศวกรรมศาสตร์</p>
    <hr>
    <div class="card-deck m-5">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'restaurant_photo/no1.jpg' %}" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">ร้านป้าศรีขายหอย</h5>
          <a href="{% url 'details' %}" class="btn btn-secondary my-2 float-right">รายละเอียด</a>
        </div>
      </div>
  
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'restaurant_photo/no1.jpg' %}" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">ร้านป้าศรีขายหอย</h5>
          <a href="{% url 'details' %}" class="btn btn-secondary my-2 float-right">รายละเอียด</a>
        </div>
      </div>
  
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'restaurant_photo/no1.jpg' %}" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">ร้านป้าศรีขายหอย</h5>
          <a href="{% url 'details' %}" class="btn btn-secondary my-2 float-right">รายละเอียด</a>
        </div>
      </div>
  
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'restaurant_photo/no1.jpg' %}" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">ร้านป้าศรีขายหอย</h5>
          <a href="{% url 'details' %}" class="btn btn-secondary my-2 float-right">รายละเอียด</a>
        </div>
      </div>
    </div>
    </div>

</div>
{% endblock %}
