{% extends "base_nav.html" %} 
{% load static %}
{% block content %}
<div class="container">
  {% for cl in faculty %}
  <p class="h3 mt-5">{{ cl.name }}</p>
  <hr>
    {% for rest in restaurant %}
    <div class="card-deck m-5">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ rest.picture.url }}" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">{{ rest.name }}</h5>
          {% comment %} <a href="#" class="btn btn-danger float-right">DELETE</a>
          <a href="#" class="btn btn-secondary float-right mr-2">EDIT</a> {% endcomment %}
        </div>
      </div>
    </div>
    {% endfor %}
  {% endfor %}
</div>
{% endblock %}
